# Виртуальное окружение
venv/
ENV/
env/

# Кэш компиляции Python (создается при запусках unittest)
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Локальные системные файлы операционных систем
.DS_Store
Thumbs.db

.idea/

logs/
*.log
